<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- get y metodo post -->
<form action='origenform' method=post>
    <label for="nombre">Escriba su nombre</label><br>
    <input type="text" name="nombre" value="sin nombre"><br>
    <label for="apellidos">Escriba sus apellidos</label><br>
    <input type="text" id="apellidos" name="apellidos" value="sin apellido"><br>
    <label for="sexo">Escriba su sexo: </label><br>
    <input type="radio" id="hombre" name="sexo" value="hombre" checked>
    <label for="hombre">Hombre</label><br>
    <input type="radio" id="mujer" name="sexo" value="mujer">
    <label for="mujer">Mujer</label><br><br>
     <input type="email" id="correo" name="correo" value="correo" required>
    <label for="correo">Correo</label><br><br>
     <input type="number" id="edad" name="edad"  min="1" max="100"  required>
    <label for="edad">Correo</label><br><br>
    <button>Enviar</button>
</form>
</body>
</html>