<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<meta name="keywords" content="HTML5, CSS3, JavaScript">
<title>principal</title>
<link rel="stylesheet" href="css/nuevo.css">
<script type="text/javascript" src="js/misjavascript.js"></script>

<script lang="javascript">
function mifuncion(){
alert('mifuncion');
}
</script>
</head>
<body>
<h1 class='uno'> hola html </h1>
<br>
<h1 > segundo html </h1>

<button name="miboton" onclick="alert('hola');"> hola1</button>
<button name="hola1" onclick="mifuncion();"> hola2 </button>
<button name="hola3" onclick="miprincipal();"> hola3 </button>
<br>
<h1 id='uno'> tercero html </h1>
<br>
<h2> segundo titulo 1</h2>
<br>
<h2 id='dos' class='uno'> segundo titulo 2</h2>
<br>
<h2> segundo titulo 3</h2>
<div></div>
<header>mi blog </header>
<nav>
	<ul>
		<li>principal </li>
		<li> ayuda </li>
		<li> contacto</li>
	</ul>
</nav>
<aside>
<blockquote> mensaje 1 </blockquote>

</aside>

<section>

	<article> 
		<h2>MI PRIMER ARTICULO </h2>
			<p>Este articulo solo fue probado para la clase de taller con un articulo creado por shirley ticona </p>
	</article>

</section>
<footer> Derecho Reservado 2020-2021</footer>
<br>
<table border=1>
	<th colspan=2 id="t1">
	Este es mi primer titulo
	</th>
	<tr>
		<td id="c1">col1</td>
		<td>col2</td>
	</tr>
	<tr>
		<td>col1</td>
		<td id="c2">col2</td>
	</tr>
</table>
<br>
<img src="img/cuadrado.jpg">
</body>
</html>