<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-witdh,initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title> Hola</title>
</head>
<body>
	<div id="app" class="container mt-5">
		<div class="bg-danger" :class="'p-3'">
			<p>Lorem ipsum dolor sit amet, 
				consectetur adipiscing elit. 
				Quisque at turpis sed lectus blandit 
				suscipit at eget nisi. Vestibulum ultricies 
				fringilla diam ut vehicula. Duis nec pharetra ex, 
				rhoncus tincidunt velit. 
				Suspendisse tellus dui, lacinia vitae magna at, dapibus eleifend tortor. Fusce ac ornare mi. In ornare cursus leo, a vulputate eros malesuada eget. Integer in leo a ligula feugiat sagittis. Duis vehicula dui eu pellentesque molestie. Praesent aliquam sem leo, et condimentum ligula placerat et. Cras dapibus viverra sapien, sit amet suscipit arcu venenatis non. Nunc non lorem quis ex sodales vestibulum quis sit amet mauris.
		</div>

	</div>
<script src="https://unpkg.com/vue"></script>
<script src="js/07.js"></script>
</body>
</html>