<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-witdh,initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title> Hola</title>
</head>
<body>
	<div id="app">
		<h1 id="titulo">Bienvenido, {{mivariable}}</h1>
		<input type="text" v-model="mivariable">
	</div>
<script src="https://unpkg.com/vue"></script>
<script src="js/vue4.js"></script>
</body>
</html>